.main_title{
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0em;
  white-space: nowrap;
}
.signup_subtitle{
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  color: #C4C4C4;
}
.signup_form{
  display: block;
  height: 426px;
}
.signup_form .su-input{
  width: 85%;
}
.forgot_pwd{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
  text-transform: capitalize;
  color: #29B67F;
}
.signup_section {
  display: inherit;
  margin-left: 20%;
}
.new_signup.text-center {
  margin-top: 4%;
  color: #29B67F;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
}




.have-acc{
  font-size: 18px;
   text-align: center;
 padding-bottom: 20px;  
 color: #828282;
 
 
 a{
 
   color: #29B67F;
 }
 }