<app-header></app-header>

<div class="container header-top-spacing">
    <div class="row justify-content-center">


    <div class="signup_section col-md-5 offset-md-4" style="text-align: center;margin: 0 auto;    display: block;">
        <div class="have-acc">Have an account? <span><a href="javascript:void(0)" [routerLink]="['/sign-in']">   Sign in </a></span></div>
        <h4 class="main_title">Welcome to <span style="    color: #29B67F;">L4o.in  </span></h4>
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="signup_form">
            <mat-form-field appearance="outline" class="su-input">
                <mat-label>Name* </mat-label>
                <input formControlName="name" matInput type="text">
            </mat-form-field>
            <mat-form-field appearance="outline" class="su-input">
                <mat-label>Email*</mat-label>
                <input matInput formControlName="email" type="email">
            </mat-form-field>
            <mat-form-field appearance="outline" class="su-input">
                <mat-label>Phone*</mat-label>
                <input formControlName="phone" matInput type="tel">
            </mat-form-field>
            <mat-form-field appearance="outline" class="su-input">
                <mat-label>Designation*</mat-label>
                <input formControlName="designation" matInput type="text">
            </mat-form-field>
            <mat-form-field appearance="outline" class="su-input">
                <mat-label>Organisation*</mat-label>
                <input formControlName="organisation" matInput type="text">
            </mat-form-field>
            <mat-form-field appearance="outline" class="su-input">
                <mat-label>Website*</mat-label>
                <input formControlName="website" matInput type="url">
            </mat-form-field>
            <mat-form-field appearance="outline" class="su-input">
                <mat-label>Department*</mat-label>
                <input formControlName="department" matInput type="text">
            </mat-form-field>
            <mat-form-field appearance="outline" class="su-input">
                <mat-label>Password*</mat-label>
                <input formControlName="password" matInput type="password">
            </mat-form-field>
            <mat-form-field appearance="outline" class="su-input">
                <mat-label>Confirm Password*</mat-label>
                <input formControlName="cpassword" matInput type="password">
            </mat-form-field>
             <div class="su-button-cont"> 
                <div class="btn" style="margin-top: 10%;">
                    <button mat-flat-button type="button" [routerLink]="'/home'" class="btn-cancel " style="margin-right: 5px;">Cancel</button>
                    <button mat-flat-button [disabled]="signupForm.invalid" type="submit" class="btn-success right_align">Submit</button>
                </div>
            </div>
        </form>
    </div>

</div>
</div>
<!--
 <div class="row">
    <div class="signup_section col-md-5 offset-md-4">
        <div class="new_signup text-center"
            style="margin-top: 40px;color: #C4C4C4;margin-bottom: 30px;margin-left: -16%;">Have an account?<b
                class="switch-link" routerLink="/learner/sign-in" style="color: #29B67F;"> Sign In </b></div>
        <h4 class="main_title"><span>Welcome Back <b style="color: #29B67F;"> L4o.in </b>
            </span></h4>
        <form class="signup_form">
            <mat-form-field appearance="outline" class="su-input">
                <mat-label>Phone No/Email</mat-label>
                <input matInput type="text">
            </mat-form-field>
            <mat-form-field appearance="outline" class="su-input">
                <mat-label>Password</mat-label>
                <input matInput type="password">
            </mat-form-field>
            <mat-form-field appearance="outline" class="su-input">
                <mat-label>Password</mat-label>
                <input matInput type="password">
            </mat-form-field>
            <mat-form-field appearance="outline" class="su-input">
                <mat-label>Password</mat-label>
                <input matInput type="password">
            </mat-form-field>
            <div class="row" style="display: inline-block;width: 90%;">
                <div class="col-md-6">
                    <button mat-flat-button type="submit" class="btn-cancel">Cancel</button>
                </div>
                <div class="col-md-6">
                    <button mat-flat-button type="submit" class="btn-success right_align">Submit</button>
                </div>
            </div>
        </form>
    </div>

</div>-->