button.btn-success {
    background: linear-gradient(
        93.58deg
        , #3FC7F4 0%, #29B67F 100%);
            width: 150px;
            height: 40px;
            color: #fff;
            font-size: 16px;
}
.mat-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button {
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: none;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 4px;
    overflow: visible;
    margin-right: 10px;
}


.nav-button {
    background: #F8F8F8;
    height: 50px;
    font-size: 20px;
    margin: 0 10px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 8px;
    color: #4F4F4F;
    transition: all 0.7s;
    display: inline-block;
}