@font-face {
  font-family: 'fly';
  src: url('font/fly.eot?94361644');
  src: url('font/fly.eot?94361644#iefix') format('embedded-opentype'),
       url('font/fly.woff2?94361644') format('woff2'),
       url('font/fly.woff?94361644') format('woff'),
       url('font/fly.ttf?94361644') format('truetype'),
       url('font/fly.svg?94361644#fly') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fly';
    src: url('font/fly.svg?94361644#fly') format('svg');
  }
}

 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fly";
  font-style: normal;
  font-weight: normal;
  speak: never;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-twitter_filled:before { content: '\e800'; } /* '' */
.icon-linkedin_filled:before { content: '\e801'; } /* '' */
.icon-youtube_filled:before { content: '\e802'; } /* '' */
.icon-pinterest_filled:before { content: '\e803'; } /* '' */
.icon-facebook_filled:before { content: '\e804'; } /* '' */
.icon-instagram_filled:before { content: '\e805'; } /* '' */
.icon-star_filled:before { content: '\e806'; } /* '' */
.icon-linkedin:before { content: '\e807'; } /* '' */
.icon-pinterest:before { content: '\e808'; } /* '' */
.icon-copy:before { content: '\e809'; } /* '' */
.icon-whatsapp-1:before { content: '\e80a'; } /* '' */
.icon-chat_1:before { content: '\e80b'; } /* '' */
.icon-cycling:before { content: '\e80c'; } /* '' */
.icon-sketing:before { content: '\e80d'; } /* '' */
.icon-climbing:before { content: '\e80e'; } /* '' */
.icon-fishing:before { content: '\e80f'; } /* '' */
.icon-tent:before { content: '\e810'; } /* '' */
.icon-music:before { content: '\e811'; } /* '' */
.icon-rice_bowl:before { content: '\e812'; } /* '' */
.icon-road:before { content: '\e813'; } /* '' */
.icon-swimming:before { content: '\e814'; } /* '' */
.icon-car_luggage:before { content: '\e815'; } /* '' */
.icon-kayaking:before { content: '\e816'; } /* '' */
.icon-elephant:before { content: '\e817'; } /* '' */
.icon-camera:before { content: '\e818'; } /* '' */
.icon-chat_typing:before { content: '\e819'; } /* '' */
.icon-list_menu:before { content: '\e81a'; } /* '' */
.icon-sandwich_menu:before { content: '\e81b'; } /* '' */
.icon-fast_train:before { content: '\e81c'; } /* '' */
.icon-train:before { content: '\e81d'; } /* '' */
.icon-cycling-copy:before { content: '\e81e'; } /* '' */
.icon-scooty:before { content: '\e81f'; } /* '' */
.icon-taxi:before { content: '\e820'; } /* '' */
.icon-bus:before { content: '\e821'; } /* '' */
.icon-water_sports:before { content: '\e822'; } /* '' */
.icon-spa:before { content: '\e823'; } /* '' */
.icon-light:before { content: '\e824'; } /* '' */
.icon-bicycle:before { content: '\e825'; } /* '' */
.icon-shopping_bag:before { content: '\e826'; } /* '' */
.icon-currency_exchange:before { content: '\e827'; } /* '' */
.icon-brush_paint:before { content: '\e828'; } /* '' */
.icon-shield:before { content: '\e829'; } /* '' */
.icon-sea_plane:before { content: '\e82a'; } /* '' */
.icon-sailing_boat:before { content: '\e82b'; } /* '' */
.icon-paste:before { content: '\e82c'; } /* '' */
.icon-chat:before { content: '\e82d'; } /* '' */
.icon-international_travel:before { content: '\e82e'; } /* '' */
.icon-search:before { content: '\e82f'; } /* '' */
.icon-old_phone:before { content: '\e830'; } /* '' */
.icon-man_flag:before { content: '\e831'; } /* '' */
.icon-savings:before { content: '\e832'; } /* '' */
.icon-sightseeing:before { content: '\e833'; } /* '' */
.icon-twitter:before { content: '\e834'; } /* '' */
.icon-instagram:before { content: '\e835'; } /* '' */
.icon-diversion_sign:before { content: '\e836'; } /* '' */
.icon-search_doc:before { content: '\e837'; } /* '' */
.icon-cross:before { content: '\e838'; } /* '' */
.icon-free:before { content: '\e839'; } /* '' */
.icon-heart_balloon:before { content: '\e83a'; } /* '' */
.icon-at:before { content: '\e83b'; } /* '' */
.icon-ok:before { content: '\e83c'; } /* '' */
.icon-home_love:before { content: '\e83d'; } /* '' */
.icon-luggage:before { content: '\e83e'; } /* '' */
.icon-man:before { content: '\e83f'; } /* '' */
.icon-romance:before { content: '\e840'; } /* '' */
.icon-reading:before { content: '\e841'; } /* '' */
.icon-shopping_cart:before { content: '\e842'; } /* '' */
.icon-plane_takeoff:before { content: '\e843'; } /* '' */
.icon-percentage_badge:before { content: '\e844'; } /* '' */
.icon-heart_wings:before { content: '\e845'; } /* '' */
.icon-crowd:before { content: '\e846'; } /* '' */
.icon-double_bed:before { content: '\e847'; } /* '' */
.icon-passport:before { content: '\e848'; } /* '' */
.icon-butler:before { content: '\e849'; } /* '' */
.icon-stopwatch:before { content: '\e84a'; } /* '' */
.icon-sun:before { content: '\e84b'; } /* '' */
.icon-globe_location:before { content: '\e84c'; } /* '' */
.icon-translate:before { content: '\e84d'; } /* '' */
.icon-home1:before { content: '\e84e'; } /* '' */
.icon-share_location:before { content: '\e84f'; } /* '' */
.icon-return:before { content: '\e850'; } /* '' */
.icon-up:before { content: '\e851'; } /* '' */
.icon-down:before { content: '\e852'; } /* '' */
.icon-wait:before { content: '\e853'; } /* '' */
.icon-calender_month:before { content: '\e854'; } /* '' */
.icon-international_travel_1:before { content: '\e855'; } /* '' */
.icon-email:before { content: '\e856'; } /* '' */
.icon-down_arrow:before { content: '\e857'; } /* '' */
.icon-home:before { content: '\e858'; } /* '' */
.icon-marine_life:before { content: '\e859'; } /* '' */
.icon-pin:before { content: '\e85a'; } /* '' */
.icon-right_arrow:before { content: '\e85b'; } /* '' */
.icon-done:before { content: '\e85c'; } /* '' */
.icon-bank:before { content: '\e85d'; } /* '' */
.icon-sauna:before { content: '\e85e'; } /* '' */
.icon-download:before { content: '\e85f'; } /* '' */
.icon-phone:before { content: '\e860'; } /* '' */
.icon-location:before { content: '\e861'; } /* '' */
.icon-snorkel:before { content: '\e862'; } /* '' */
.icon-luggage1:before { content: '\e863'; } /* '' */
.icon-sking:before { content: '\e864'; } /* '' */
.icon-share:before { content: '\e865'; } /* '' */
.icon-support:before { content: '\e866'; } /* '' */
.icon-whatsapp:before { content: '\e867'; } /* '' */
.icon-calender:before { content: '\e868'; } /* '' */
.icon-gallery:before { content: '\e869'; } /* '' */
.icon-shopping-bag:before { content: '\e86a'; } /* '' */
.icon-star_tag:before { content: '\e86b'; } /* '' */
.icon-stay:before { content: '\e86c'; } /* '' */
.icon-people:before { content: '\e86d'; } /* '' */
.icon-video_games:before { content: '\e86e'; } /* '' */
.icon-duck:before { content: '\e86f'; } /* '' */
.icon-boat:before { content: '\e870'; } /* '' */
.icon-calender_money:before { content: '\e871'; } /* '' */
.icon-account:before { content: '\e872'; } /* '' */
.icon-meal:before { content: '\e873'; } /* '' */
.icon-done_star:before { content: '\e874'; } /* '' */
.icon-anniversary:before { content: '\e875'; } /* '' */
.icon-honeymoon:before { content: '\e876'; } /* '' */
.icon-family:before { content: '\e877'; } /* '' */
.icon-birthday:before { content: '\e878'; } /* '' */
.icon-anniversary_1:before { content: '\e879'; } /* '' */
.icon-day:before { content: '\e87a'; } /* '' */
.icon-room_tag:before { content: '\e87b'; } /* '' */
.icon-star:before { content: '\e87c'; } /* '' */
.icon-facebook:before { content: '\e87d'; } /* '' */
.icon-car:before { content: '\e87e'; } /* '' */
.icon-youtube:before { content: '\e87f'; } /* '' */
.icon-parking:before { content: '\e880'; } /* '' */
.icon-done_1:before { content: '\e881'; } /* '' */
.icon-breakfast:before { content: '\e882'; } /* '' */
.icon-walk:before { content: '\e883'; } /* '' */
.icon-drinks:before { content: '\e884'; } /* '' */
.icon-flight:before { content: '\e885'; } /* '' */
.icon-movies:before { content: '\e886'; } /* '' */
.icon-concert:before { content: '\e887'; } /* '' */
.icon-casino:before { content: '\e888'; } /* '' */
.icon-history:before { content: '\e889'; } /* '' */
.icon-road_trip:before { content: '\e88a'; } /* '' */
.icon-wildlife:before { content: '\e88b'; } /* '' */
.icon-music_lover:before { content: '\e88c'; } /* '' */
.icon-right:before { content: '\e88d'; } /* '' */
.icon-left:before { content: '\e88e'; } /* '' */
.icon-cooking:before { content: '\e88f'; } /* '' */
.icon-debit_card:before { content: '\e890'; } /* '' */
.icon-landmark:before { content: '\e891'; } /* '' */
.icon-send:before { content: '\e893'; } /* '' */
.icon-faqs:before { content: '\e895'; } /* '' */
.icon-landmark_1:before { content: '\e896'; } /* '' */
.icon-minus:before { content: '\e89c'; } /* '' */
.icon-plus:before { content: '\e89d'; } /* '' */
.icon-send-1:before { content: '\e89f'; } /* '' */